@use "sass:math";
@import "mixins.scss";
@import "reset.scss";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

$mb:rem(100);
$mmb:rem(50);
$violet:#2d285d;
$lightViolet:#ae8be6;



[class*=__container] {
		max-width: rem(1270);
		margin: 0 auto;
		padding: 0 rem(15);
		font-weight: 400;
		padding-bottom: rem(30);
	  }

body{
	font-family: 'Montserrat';
    font-size: rem(18);
    line-height:1.6;
    color: #e2dbe7;
	background: $violet;
}
.wrapper{ 
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}


.header__container {
	display: flex;
	min-height: rem(100);
	align-items: center;
	justify-content: center;
	gap: rem(15);
}


.header {
	

	padding-top: rem(20);
	padding-bottom: rem(20);
	// .header__container

	&__container {
	}

	// .header__title

	&__title {
		font-size: rem(30);
		font-weight: 500;
		color:$lightViolet;
		font-weight: 600;
		text-transform: uppercase;
		
		
		
	}
}


//_____________________


.item {
	
	
	padding-bottom: rem(20);
	padding-top: rem(40);


	// .item__link

	&__title {
		color: $lightViolet;
		font-size: rem(24);
		font-weight: 500;
		display: block;
		margin-bottom: rem(15);
		text-transform: uppercase;

	}

	&__link {
		margin-top: rem(20);
		color: #e2dbe7;
		font-size: rem(16);
		font-weight: 500;
		display: inline-block;
		text-transform: uppercase;
		padding: rem(8) rem(16);
		background: linear-gradient(to right,#916ad0, #8f5ae5,#8a49f3,  #6937dd);
		border-radius: rem(18);
		letter-spacing: 2px;
		&:hover{
			background:#8f5ae5;
		}

	}
		
		

	&__answer{
		color:$violet;
		font-size: rem(24);
		margin-bottom: rem(15);
	}

	&__task{
		color:$violet;
		font-size: rem(24);
		margin-bottom: rem(15);
	}

	// .item__text

	&__text {
		font-size: rem(20);
	}

	

}





input{
	border: 1px solid $lightViolet;
	padding: rem(10);
	font-size: rem(20);
	border-radius: rem(5);
	color: #e2dbe7;
	margin-bottom: rem(15);
}
.input_block{
	&:not(:last-child) {
		margin-bottom: rem(15);
	}
}

.task-link{
	margin-top: rem(100);
}

button{
margin-bottom: rem(15);
border: 1px solid #8f5ae5;
padding: rem(8) rem(16);
border-radius: rem(15);
color:  #e2dbe7;
font-size: rem(16);
margin-top: rem(20);
text-transform: uppercase;
letter-spacing: 2px;
transition: background 0.5s ease 0s;
&:hover{
	background:#8f5ae5;
	;
}
}
.answer{
	
	margin-top: rem(20);
	
}

.label_text{
	display: block;
	padding-bottom: rem(5);
}
.picture{
	margin-bottom: rem(20);
}
.block{
	max-width:rem(305);
}
.logo_img{
	border-radius: 50%;
	max-width: rem(50);
	height: rem(50);
	margin-right: rem(15);
}
a{
	color: inherit;
}
.header-block{
	display: flex;
	
}
h2{
	font-weight: 600;
}
h3{
	color: #58b6f5;
	font-size: rem(20);
	font-weight: 600;
}

select{
	margin-bottom: rem(20);
}
.checkbox__img{
	max-width: 100%;
}
