@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  background-color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button {
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

[class*=__container] {
  max-width: 79.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
  font-weight: 400;
  padding-bottom: 1.875rem;
}

body {
  font-family: "Montserrat";
  font-size: 1.125rem;
  line-height: 1.6;
  color: #e2dbe7;
  background: #2d285d;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 6.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.9375rem;
}

.header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.header__title {
  font-size: 1.875rem;
  font-weight: 500;
  color: #ae8be6;
  font-weight: 600;
  text-transform: uppercase;
}

.item {
  padding-bottom: 1.25rem;
  padding-top: 2.5rem;
}
.item__title {
  color: #ae8be6;
  font-size: 1.5rem;
  font-weight: 500;
  display: block;
  margin-bottom: 0.9375rem;
  text-transform: uppercase;
}
.item__link {
  margin-top: 1.25rem;
  color: #e2dbe7;
  font-size: 1rem;
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  background: -webkit-gradient(linear, left top, right top, from(#916ad0), color-stop(#8f5ae5), color-stop(#8a49f3), to(#6937dd));
  background: linear-gradient(to right, #916ad0, #8f5ae5, #8a49f3, #6937dd);
  border-radius: 1.125rem;
  letter-spacing: 2px;
}
.item__link:hover {
  background: #8f5ae5;
}
.item__answer {
  color: #2d285d;
  font-size: 1.5rem;
  margin-bottom: 0.9375rem;
}
.item__task {
  color: #2d285d;
  font-size: 1.5rem;
  margin-bottom: 0.9375rem;
}
.item__text {
  font-size: 1.25rem;
}

input {
  border: 1px solid #ae8be6;
  padding: 0.625rem;
  font-size: 1.25rem;
  border-radius: 0.3125rem;
  color: #e2dbe7;
  margin-bottom: 0.9375rem;
}

.input_block:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.task-link {
  margin-top: 6.25rem;
}

button {
  margin-bottom: 0.9375rem;
  border: 1px solid #8f5ae5;
  padding: 0.5rem 1rem;
  border-radius: 0.9375rem;
  color: #e2dbe7;
  font-size: 1rem;
  margin-top: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: background 0.5s ease 0s;
  transition: background 0.5s ease 0s;
}
button:hover {
  background: #8f5ae5;
}

.answer {
  margin-top: 1.25rem;
}

.label_text {
  display: block;
  padding-bottom: 0.3125rem;
}

.picture {
  margin-bottom: 1.25rem;
}

.block {
  max-width: 19.0625rem;
}

.logo_img {
  border-radius: 50%;
  max-width: 3.125rem;
  height: 3.125rem;
  margin-right: 0.9375rem;
}

a {
  color: inherit;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h2 {
  font-weight: 600;
}

h3 {
  color: #58b6f5;
  font-size: 1.25rem;
  font-weight: 600;
}

.order__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.order__status {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order__column {
  border: 1px solid #916ad0;
  padding: 0.9375rem;
}
.order__input {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}
.order__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.9375rem;
}
.order__header {
  border: 1px solid #916ad0;
  padding: 0.9375rem;
  display: block;
}

select {
  margin-bottom: 1.25rem;
}

.checkbox__img {
  max-width: 100%;
}